[Unit]
Description=Photon Controller Configuration Service
After=syslog.target network.target lwsmd.service
Requires=lwsmd.service

[Service]
Type=oneshot
ExecStart=/etc/esxcloud/run.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
