[Unit]
Description=Photon Controller Service
After=syslog.target network.target lwsmd.service
Requires=lwsmd.service

[Service]
Type=simple
ExecStart=/usr/lib/esxcloud/photon-controller-core/configuration/run.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
