# VIM
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# Emacs
*~
\#*\#

# IDEA
.idea
*.iml
*.ipr
*.iws
*.ids

# Local Dev DB
mem.h2.db
mem.trace.db

# cscope, ctags
cscope.files
cscope.in.out
cscope.out
cscope.po.out
tags

.ruby
*.gem

tmp/
tests/common/test_files/deployment/dcmap.yml

#image building related
**/build/
**/archive/
**/packer_cache/
*.tgz
*.tar
*.gz
*.ova
*.iso
*.box
*.rpm
.vagrant
.bundle

*.log

# netbeans
/controller/.nb-gradle/
