[access "refs/heads/*"]
	submit = deny group ESX Cloud Team
[submit]
	action = rebase if necessary
[access "refs/heads/develop"]
	submit = deny group ESX Cloud Team
[access "refs/heads/beta1-refresh"]
	submit = deny group ESX Cloud Team
[access "refs/heads/v0.8.0"]
	submit = deny group Photon Controller - Release Branch
[access "refs/heads/v0.9.0"]
	submit = group Photon Controller - Release Branch
[access "refs/heads/v0.9.1"]
	submit = group Photon Controller - Release Branch
