[Unit]
Description=Configure Guest Properties

[Service]
Type=oneshot
ExecStart=/var/photon/configure-guest.sh
ExecStop=
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service
