[Unit]
Description=DHCP and PXE server
After=network.target

[Service]
ExecStart=/usr/sbin/dnsmasq -k --conf-file=/etc/bmp/dnsmasq.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
