# Placement requests
---
# Place a mix of requests.
auto:
   count: 100
   types:
   - ratio : 1
     flavor: core-240
     disks:
     - flavor: core-100
     - flavor: core-100
     - flavor: core-100
   - ratio : 2
     flavor: core-220
     disks:
     - flavor: core-100
     - flavor: core-100
   - ratio : 4
     flavor: core-200
     disks:
     - flavor: core-100
